
.inputHighlighted{  
  background-color: rgb(157, 184, 238);
  color: black;
  border:1px solid rgb(181, 216, 247);
} 


.small {
	font: normal 85% Verdana, sans-serif;
	color: black;
	background-color: rgb(254, 254, 254);
	top: 0;
	height: 1px;
	overflow: auto;
}

	
.imgSize {
	width: 20px;
}
 
/**********************************

Redefine aspecto de los elementos estandard de HTML
***********************************/

 
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

/* Headers
------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	background-color: rgb(254, 254, 254);
}
	
body {
	padding: 0 2px;
	color: black;
	background-color: rgb(254, 254, 254);
	margin: 0;
	padding: 0;
}

blockquote {
	margin: 0;
	padding: 0;
	background-color: rgb(254, 254, 254);
}


table.cmxtable tr {
	border: none;
	background-color: rgb(254, 254, 254);
	border-top: 1.0px solid #C9DCA6;
	}

table.cmxtable tr2 {
	background-color: rgb(254, 254, 254);
	border: none;
	border-top: 1px solid #C9DCA6;	
}

img, iframe { 
	border: none; 
	background: rgb(254, 254, 254);
}



