.blueC{
	/*color: #2800FF;*/
	font-weight: bold;
	color: white;
	background: black;
}

.redAst{
	color: #b22222;
	background: black;
}

.dhtmlgoodies_tree{
	margin:3px;
	background: black;
	padding:0px;
}

.dhtmlgoodies_tree ul{	/* Sub menu groups */
	margin-left:20px;	/* Left spacing */
	padding-left:0px;
	background: black;
	display:none;	/* Initially hide sub nodes */
}

.dhtmlgoodies_tree li{	/* Nodes */
	list-style-type:none;
	background: black;
	vertical-align:middle;
	
}

.dhtmlgoodies_tree li a{	/* Node links */
	/*color:#677ABA;*/
	text-decoration:none;
	font-family:verdana;
	color: white;
	background: black;
	font-size:0.90em;
	padding-left:2px;
}

.optionStyle{
  /*color:#492922;*/
  font-size: 88.5%;
  font-family:verdana;
  color: white;
  background: black;
}

.textInput{  /* General style for my inputs when they're not highlighted */  
  background-color: black;
  /*color:#492922;*/
  font-family:verdana;
  color: white;
  border:1px solid #000;
}

.imgCalendar{
  position: relative;
  vertical-align: bottom;	
  height: 17px;
  width: 19px;
}

.inputHighlighted{  /* Highlighting style */
  background-color: black;
  /*color:#0A604F;*/
  color: white;
  border:1px solid #000;
} 


.trImpaired{
 background-color: #f2f4f7;
 color: white;
 font-size: 94.5%;
 border: 0;
}

.trPaired{
background-color: #eaf2fc;
font-size: 94.5%;
color: white;
border: 0;
}


label.order{
font: normal 89% "Lucida Grande", Helvetica, Verdana, Arial;
color: white;
background: black;
}

label.infoCls{
background: black;
color: white;
/*color: #0E00C0;*/
}

label.warningCls{
background: black;
color: white;
/*color: #0F4AC0;*/
}

label.errorCls{
background: black;
color: white;
/*color: #EB7310;*/
}

.pcmTable {
	display: table;
	border: 1px;
	width: 95.9%;
	background-color: black;
}
	
.pcmTR {
	display: table-row;
	background-color: black;
	border: none;
	border-top: 1.4px solid #C9DCA6;
}
	
.pcmTDLeft {
	font: normal 92% "Lucida Grande", Helvetica, Verdana, Arial;
	color: white;
	background-color: black;
	text-align: left;
	border: 1.1px solid #C9DCA6;
	width: 8%;
	border-top: none;	
}
	
.pcmTDRight {
	font: normal 92% "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	color: white;
	background-color: black;
	text-align: left;
	border: 1.1px solid #C9DCA6;
	width: 92%;
	border-top: none;
}

.small {
	font: normal 85.8% "Lucida Grande", Helvetica, Verdana, Arial;
	color: white;
	background-color: black;
	top: 0;
	height: 1px;
	overflow: auto;
}

.verysmall {
	font: normal 80.8% "Lucida Grande", Helvetica, Verdana, Arial;
	color: white;
	background-color: black;
	top: 0;
	height: 1px;
	overflow: auto;
}
	
.imgSize {
	width: 20px;
}
 
/**********************************

Redefine aspecto de los elementos estandard de HTML
***********************************/

 
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

/* Headers
------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	background-color: black;
}
	
body {
	padding: 0 2px;
	font: normal 94.5% "Lucida Grande", Helvetica, Verdana, Arial;
	color: white;
	background-color: black;
	margin: 0;
	padding: 0;
}

label {
	padding: 0 2px;
	background: black;
	font: normal 94.5% "Lucida Grande", Helvetica, Verdana, Arial;
	color: white;
	margin: 0;
	padding: 0;
}

table{
	border: 0;
	background-color: black;
}

TH {
    background-color: black;
    font-size: 90.5%;
}

TD {
	background-color: black;
	padding:0.2em;
}

blockquote {
	margin: 0;
	padding: 0;
	background-color: black;
}

a{
	/*color:#000;*/
	font-family:verdana;
	background: black;
	font-size:0.9em;
	color: white;
}
	
p {
 font-family:verdana;
 background-color: black;
 padding: 5px 2px 4px;
 margin: 5px 0;
 font-size: 90.5%;
 color: white;
}

form.pcmForm {
	width: 99.9%;
	border: none;
	font-size: 0.9em;
	color: white;
	background-color: black;
	/*color: #333;*/
	margin: 0;
	padding: 0;
}
	
form.pcmForm legend { 
	padding-left: 0; 
	background-color: black;
	font-size: 98.9%;
	color: white;
	/*color: #00005F;*/
}
	
form.pcmForm fieldset {
	border: none;
	color: white;
	background-color: black;
	border-top: 0.1em solid #FCFFF7;
	margin: 2px;
	padding: 0;
}
	
form.pcmForm fieldset fieldset { 	
	background-color: black;
	padding: 0px 0px 0px;	
}

table.cmxtable tr {
	border: none;
	background-color: black;
	border-top: 1.0px solid #C9DCA6;
	}

table.cmxtable tr2 {
	background-color: black;
	border: none;
	border-top: 1px solid #C9DCA6;	
}

input, textarea, select {
	background-color: grey;
	margin: 0;
	padding: 1px;
	font-size: 88.5%;
	font-family: verdana;
	color: white;
}

img, iframe { 
	border: none; 
	background: black;
}


/***** UL para botones de submitado  *****/

ul#pcmUl {	
	padding: 0px;    
	margin: 2px 0;     
	list-style: none;     
	float: left; 
}   

ul#pcmUl li {     
	background: url('../img/softBlue.PNG') no-repeat top;
	float: left;     
	display: inline; 
	margin: 0 9px; 
}   
	
ul#pcmUl li a {     
	text-decoration: none;
	float:left;     
	background: transparent;
	/*color: #999;*/
	cursor: pointer;     
	font: 700 1.0em/1.1em "Arial", Helvetica, sans-serif; 
	color: white;
}


ul#pcmUl li a.current, ul#pcmUl li a:hover {     
	background: url('../img/blue.PNG') no-repeat top right;     
	/*color: #0d5f83; */
	color: white;
}

ul#pcmUl li a.current span, ul#pcmUl li a:hover span {     
	background: url('../img/blue.PNG') no-repeat top left; 
}

/** botones de submitado ***/
ul#pcmUl li a span {    
	margin: 0 10px 0 -10px;
	padding: 1px 2px 2px 18px;     
	position: relative;
	float:left; 
	color: white;
	background: blue;
} 


 /*****  END of UL para botones de submitado  *****/


/***** UL para meno superior *****/

#navcontainer
{
/*background: #E6EDE8;*/
background: black;
width: 100%;
margin: 0 auto;
padding: 1em 0;
font-family: georgia, serif;
font-size: 10px;
color: white;
text-align: center;
text-transform: lowercase;
}

ul#navlist
{
text-align: left;
list-style: none;
padding: 0;
margin: 0 auto;
width: 100%;
color: white;
background-color: black;
}

ul#navlist li
{
display: block;
margin: 0;
padding: 0;
color: white;
background-color: black;
}

ul#navlist li a
{
display: block;
padding: 0.5em 0 0.5em 2em;
border-width: 1px;
/*border-color: #ffe #aaab9c #ccc #fff;*/
background-color: black;
border-style: solid;
/*color: #919191;*/
color: white;
text-decoration: none;
background: #f7f2ea;
}

#navcontainer>ul#navlist li a { width: auto; }

ul#navlist li#active a
{
background: #E6EDE8;
/*color: #4F4F4F;*/
color: white;
}

ul#navlist li a:hover, ul#navlist li#active a:hover
{
/*color: #4F4F4F;*/
color: white;
background: transparent;
border-color: #aaab9c #fff #fff #ccc;
}

/***** END of UL para meno superior *****/


#contextMenu{	/* The menu container */
		border:1px solid #202867;	/* Border around the entire menu */
		background-color:#FFF;	/* White background color of the menu */
		margin:0px;
		padding:0px;
		width:175px;	/* Width of context menu */
		font-family:verdana;
		color: white;
		font-size:9px;
		background-image:url('../img/gradient.gif');
		background-repeat:repeat-y;
		
		/* Never change these two values */
		display:none;
		position:absolute;

}

#contextMenu a{	/* Links in the context menu */
	/*color: #000;*/
	text-decoration:none;
	color: white;
	background: black;
	line-height:25px;
	vertical-align:middle;	
	height:28px;
	
	/* Don't change these 3 values */
	display:block;	
	width:100%;
	clear:both;
}

#contextMenu li{	/* Each menu item */
	list-style-type:none;
	padding:1px;
	margin:1px;
	cursor:pointer;	
	color: white;
	background: black;
	clear:both;
}

#contextMenu li div{	/* Dynamically created divs */
	cursor:pointer;	
	background-color: black;
}

#contextMenu .contextMenuHighlighted{	/* Highlighted context menu item */
	border:1px solid #000;
	padding:0px;
	background-color: black;
	color: white;
}

#contextMenu img{
	border:0px;
}

#contextMenu .imageBox{	/* Dynamically created divs for images in the menu */
	color: white;
	background-color: black;
	float:left;
	padding-left:2px;
	padding-top:3px;
	vertical-align:middle;
	width:28px;	/* Other browsers */
}

#contextMenu .itemTxt{
	float: left;		
	width: 120px;	/* IE 5.x */
	width/* */:/**/140px;	/* Other browsers */
	width: /**/140px;		
	color: white;
	background-color: black;
}

ol, dl, dt, dd {
	margin: 0;
	padding: 0;
	background-color: black;
}

/* PERSONALIZACION DE LOS MAPAS Y GRAPHICS DE HIGHCHARTS */

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	color: white;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: white;
    /*color: #555;*/
}
.highcharts-data-table th {
	font-weight: 600;
	color: white;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#sliders td input[type=range] {
    display: inline;
}
#sliders td {
    padding-right: 1em;
    white-space: nowrap;
}
