
.inputHighlighted{  
  background-color: rgb(7, 39, 46);
  color: rgb(230, 230, 230);
  border:1px solid rgb(0, 128, 128);
} 


.small {
	font: normal 90% Roboto, sans-serif;
	color: rgb(230, 230, 230);
	background-color: rgb(7, 39, 46);
	top: 0;
	height: 1px;
	overflow: auto;
}

	
.imgSize {
	width: 20px;
}
 
/**********************************

Redefine aspecto de los elementos estandard de HTML
***********************************/

 
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}


.global {	
	position: relative;
	top: 0px; 
	left: 0px;
	color: rgb(230, 230, 230);
	background-color: rgb(7, 39, 46);
	border-top: none;	
	border: 0;	
}

.pcmNav {	
	position: relative;
	top: 0px; 
	left: 0px;
	color: rgb(230, 230, 230);
	background-color: rgb(7, 39, 46);	
	font: normal 0.95em Roboto, sans-serif;
	text-align: left;
}
	
.pcmBody {
	position: relative;
	top: 0px; 
	left: 0px;
	font: normal 0.95em Roboto, sans-serif;
	border: 0.3px solid #C9DCA6;
	background-color: rgb(7, 39, 46);
	text-align: left;
}

/* Headers
------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	background-color: rgb(7, 39, 46);
}
	
body {
	padding: 0 2px;
	color: rgb(230, 230, 230);
	background-color: rgb(7, 39, 46);
	margin: 0;
	padding: 0;
}

blockquote {
	margin: 0;
	padding: 0;
	background-color: rgb(7, 39, 46);
}


table.cmxtable tr {
	border: none;
	background-color: rgb(7, 39, 46);
	border-top: 1.0px solid #C9DCA6;
	}

table.cmxtable tr2 {
	background-color: rgb(7, 39, 46);
	border: none;
	border-top: 1px solid #C9DCA6;	
}

img, iframe { 
	border: none; 
	background: rgb(7, 39, 46);
}



