
form.pcmForm {
	width: 100%;
	border: none;
	color: rgb(230, 230, 230);
	background-color: rgb(7, 39, 46);
    font: normal 0.95em Roboto, sans-serif;
	margin: 0;
	padding: 0;
}
	
form.pcmForm legend { 
	padding-left: 0; 
	background-color: rgb(7, 39, 46);
    font: normal 0.95em Roboto, sans-serif;
	color: rgb(230, 230, 230);
}
	
form.pcmForm fieldset fieldset { 	
	border: none;
	color: rgb(230, 230, 230);
	background-color: rgb(7, 39, 46);
	border-top: 0.1em solid #FCFFF7;
    font: normal 0.95em Roboto, sans-serif;
	margin: 2px;
	padding: 0;
}

.redAst{
	color: #d3cf06;
	background: rgb(7, 39, 46);
}


.textInput{ 
  background-color: rgb(40, 74, 85);
  background:  rgb(40, 74, 85);
  margin: 0;
  display:inline-block;
  vertical-align:middle;
  padding: 1px;
  font: normal 0.95em Roboto, sans-serif;
  color: rgb(2, 208, 208);
  border:1px solid #000;
}

.imgCalendar{
  position: relative;
  vertical-align: bottom;	
  height: 17px;
  width: 19px;
}


label.order{
    font: normal 0.95em Roboto, sans-serif;
	color: rgb(230, 230, 230);
	background: rgb(7, 39, 46);
}

label.infoCls{
  background: rgb(7, 39, 46);
  color: #91e0de;
  font: normal 0.95em Roboto, sans-serif;
}

label.warningCls{
  background: rgb(7, 39, 46);
  color: #d3cf06;  
  font: normal 0.95em Roboto, sans-serif;
}

label.errorCls{
  background: rgb(7, 39, 46);
  color: rgb(250, 157, 126);
  font: normal 0.95em Roboto, sans-serif;
}

