
.inputHighlighted{  
  background-color: rgb(7, 39, 46);
  color: white;
  border:1px solid rgb(0, 128, 128);
} 


.small {
	font: normal 85% Verdana, sans-serif;
	color: white;
	background-color: rgb(7, 39, 46);
	top: 0;
	height: 1px;
	overflow: auto;
}

	
.imgSize {
	width: 20px;
}
 
/**********************************

Redefine aspecto de los elementos estandard de HTML
***********************************/

 
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}


.pcmTDLeft {	
	position: relative;
	top: 0px; 
	left: 0px;
	color: white;
	font: normal 0.9em Verdana;
	background-color: rgb(7, 39, 46);
	text-align: left;
	border: 1.1px solid #C9DCA6;	
	border-top: none;	
	border: 0;
}
	
.pcmTDRight {
	position: relative;
	top: 0px; 
	left: 0px;
	color: white;
	font: normal 0.8em Verdana;
	background-color: rgb(7, 39, 46);
	text-align: left;
	border: 1.1px solid #C9DCA6;
	border-top: none;
	border: 0;
}

/* Headers
------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	background-color: rgb(7, 39, 46);
}
	
body {
	padding: 0 2px;
	color: white;
	background-color: rgb(7, 39, 46);
	margin: 0;
	padding: 0;
}

blockquote {
	margin: 0;
	padding: 0;
	background-color: rgb(7, 39, 46);
}


table.cmxtable tr {
	border: none;
	background-color: rgb(7, 39, 46);
	border-top: 1.0px solid #C9DCA6;
	}

table.cmxtable tr2 {
	background-color: rgb(7, 39, 46);
	border: none;
	border-top: 1px solid #C9DCA6;	
}

img, iframe { 
	border: none; 
	background: rgb(7, 39, 46);
}



