#contextMenu{	/* The menu container */
		border:1px solid #202867;	/* Border around the entire menu */
		background-color:#FFF;	/* White background color of the menu */
		margin:0px;
		padding:0px;
		width:175px;	/* Width of context menu */
		font-family:verdana;
		color: white;
		font-size:9px;
		background-image:url('../img/gradient.gif');
		background-repeat:repeat-y;
		
		/* Never change these two values */
		display:none;
		position:absolute;

}

#contextMenu a{	/* Links in the context menu */
	/*color: #000;*/
	text-decoration:none;
	color: white;
	background: #203A43;
	line-height:25px;
	height:28px;
	/* Don't change these 3 values */
	display:block;	
	width:100%;
	clear:both;
}

#contextMenu li{	/* Each menu item */
	list-style-type:none;
	padding:1px;
	margin:1px;
	cursor:pointer;	
	color: white;
	background: #203A43;
	clear:both;
}

#contextMenu li div{	/* Dynamically created divs */
	cursor:pointer;	
	background-color: #203A43;
}

#contextMenu .contextMenuHighlighted{	/* Highlighted context menu item */
	border:1px solid #000;
	padding:0px;
	background-color: #203A43;
	color: white;
}

#contextMenu img{
	border:0px;
}

#contextMenu .imageBox{	/* Dynamically created divs for images in the menu */
	color: white;
	background-color: #203A43;
	float:left;
	padding-left:2px;
	padding-top:3px;
	vertical-align:middle;
	width:28px;	/* Other browsers */
}

#contextMenu .itemTxt{
	float: left;		
	width: 140px;		
	color: white;
	background-color: #203A43;
}