
form.pcmForm {
	width: 100%;
	border: none;
	color: white;
	background-color: #203A43;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
	margin: 0;
	padding: 0;
}
	
form.pcmForm legend { 
	padding-left: 0; 
	background-color: #203A43;
	font-size: 0.9em;
    font-family: Verdana, sans-serif;
	color: white;
}
	
form.pcmForm fieldset fieldset { 	
	border: none;
	color: white;
	background-color: #203A43;
	border-top: 0.1em solid #FCFFF7;
	font-size: 0.9em;
    font-family: Verdana, sans-serif;
	margin: 2px;
	padding: 0;
}

.redAst{
	color: #d3cf06;
	background: #203A43;
}


.textInput{ 
  background-color:#48403e;
  background:#48403e;
  margin: 0;
  padding: 1px;
  font-size: 0.9em;
  font-family: Verdana, sans-serif;
  color: orange;
  border:1px solid #000;
}

.imgCalendar{
  position: relative;
  vertical-align: bottom;	
  height: 17px;
  width: 19px;
}


label.order{
	font-size: 0.9em;
    font-family: Verdana, sans-serif;
	color: white;
	background: #203A43;
}

label.infoCls{
  background: #203A43;
  color: #91e0de;
  font-size: 105%;
  font-family: Verdana, sans-serif;
}

label.warningCls{
  background: #203A43;
  color: #d3cf06;
  font-size: 0.8em;
  font-family: Verdana, sans-serif;
}

label.errorCls{
  background: #203A43;
  color: red;
  font-size: 0.8em;
  font-family: Verdana, sans-serif;
}


