.pcmTable {
	display: table;
	border: 0;
	font-size: 0.8em;
	width: 99%;
	background-color: rgb(7, 39, 46);
}

TH {
    background-color: #a1d0ee;
    color: #19185e;
    font-size: 0.8em;
    border: 0;
}

TD {
    border: 0;
}

.trImpaired{
    background: #1d2f37;/*30515f*/
    color: white;
    border: 0;
}

.trPaired{
    background: #2b4753;
    color: white;
    border: 0;
}
