/*.blueC{
	font-weight: bold;
	color: white;
	background: #203A43;
}
*/

.pcmTDLeft {
	font: normal 0.8em Verdana, sans-serif;
	color: white;
	background-color: #203A43;
	text-align: left;
	border: 1.1px solid #C9DCA6;
	width: 8%;
	border-top: none;	
	border: 0;
}
	
.pcmTDRight {
	font: normal 0.8em Verdana, sans-serif;
	color: white;
	background-color: #203A43;
	text-align: left;
	border: 1.1px solid #C9DCA6;
	width: 92%;
	border-top: none;
	border: 0;
}

.pcmTable {
	display: table;
	border: 0;
	font-size: 0.8em;
	width: 95.9%;
	background-color: #203A43;
}

TH {
    background-color: #a1d0ee;
    color: #19185e;
    font-size: 0.8em;
    border: 0;
}

TD {
    border: 0;
}

.trImpaired{
    background: #1d2f37;/*30515f*/
    color: white;
    border: 0;
}

.trPaired{
    background: #2b4753;
    color: white;
    border: 0;
}
