/* PERSONALIZACION DE LOS MAPAS Y GRAPHICS DE HIGHCHARTS */

#container {
    height: 620px; 
    min-width: 310px; 
    max-width: 1260px; 
    margin: 0 auto; 
    color: white;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	color: white;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 800px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 0.9em;
    color: rgb(159, 255, 255);
}
.highcharts-data-table th {
	font-weight: 600;
	color: white;
    padding: 0.5em;
    background: rgb(26, 47, 53);
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
    color: white;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: rgb(26, 47, 53);
    color: white;
}
.highcharts-data-table tr:hover {
    background: rgb(26, 47, 53);
    color: white;
}

#sliders td input[type=range] {
    display: inline;
    color: white;
}
#sliders td {
    padding-right: 1em;
    white-space: nowrap;
    color: white;
}