
.dhtmlgoodies_tree{
	margin:3px;
	background: rgb(7, 39, 46);
	padding:0px;
}

.dhtmlgoodies_tree ul{	/* Sub menu groups */
	margin-left:20px;	/* Left spacing */
	padding-left:0px;
	background: rgb(7, 39, 46);
	display:none;	/* Initially hide sub nodes */
}

.dhtmlgoodies_tree li{	/* Nodes */
	list-style-type:none;
	background: transparent;
	vertical-align:middle;
	
}

.dhtmlgoodies_tree li a{	/* Node links */
	/*color:#677ABA;*/
	text-decoration:none;
	font: normal 0.95em Roboto, sans-serif;
	color: rgb(230, 230, 230);
	background: rgb(7, 39, 46);
	padding-left:2px;
}
