 /* Customize the label (the radiogroupcontainer) */
.radiogroupcontainer {
  display: inline;
  position: relative;
  padding-left: 16px;
  /*margin-bottom: 12px;*/
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiogroupcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmarkradio {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: rgb(253, 244, 223);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiogroupcontainer:hover input ~ .checkmarkradio {
  background-color: rgb(255, 128, 0);
}

/* When the radio button is checked, add a blue background */
.radiogroupcontainer input:checked ~ .checkmarkradio {
  background-color: rgb(0, 255, 0);
  }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkradio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiogroupcontainer input:checked ~ .checkmarkradio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiogroupcontainer .checkmarkradio:after {
  top: 3px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
} 