<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/CDDGedeoner/src/main/java/gedeoner/utils/ImportarTareasGEDEON_IGSS.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gedeoner.utils.ImportarTareasGEDEON_IGSS"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="CDDGedeoner"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\\Users\\99GU3997\\exports\\GEDEON_IGSS C:\\Users\\99GU3997\\apache-tomcat-9.0.52\\data\\sqlite factUTEDBlite.db"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CDDGedeoner"/>
</launchConfiguration>
