.pcmTable {
	display: table;
	border: 0;
	font-size: 0.8em;
	width: 95.9%;
	background-color: rgb(254, 254, 254);
}

TH {
    background-color: #a1d0ee;
    color: #19185e;
    font-size: 0.8em;
    border: 0;
}

TD {
    border: 0;
}

.trImpaired{
    background: rgb(237, 254, 254);/*30515f*/
    color: black;
    border: 0;
}

.trPaired{
    background: rgb(255, 255, 255);
    color: black;
    border: 0;
}
