<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>gedeoner</display-name>
	<servlet>
		<servlet-name>PrincipalServlet</servlet-name>
		<servlet-class>gedeoner.servlets.MyServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LauncherServlet</servlet-name>
		<servlet-class>gedeoner.servlets.LauncherServlet</servlet-class>
	</servlet>


	<!-- mappings servlets -->
	<servlet-mapping>
		<servlet-name>PrincipalServlet</servlet-name>
		<url-pattern>/dispatch</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LauncherServlet</servlet-name>
		<url-pattern>/LauncherUtility</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
