<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
 
  <test name="WithoutServer">
   	<classes>
      <class name="org.gedeoner.testcase.junit5.SampleJunitTest" />
    </classes>
  </test>
  
   <test name="IntegrationTests">
   	<classes>
   		<class name="org.gedeoner.selenium.GedeonesQuerySeleniumTest" />
    	<class name="org.gedeoner.selenium.LoginSeleniumTest" />
    </classes>
  </test>
  
  
</suite>
